{% extends "base" %}
{% block page %}landing{% endblock page %}
{% block title %}Dobrodosli{% endblock title %}

{% block content %}
    <h1>LOGO</h1>

    <form>
      <input type="text" name="url"/>
    </form>
    <button id="new-url">New url</button>
    <button id="get-urls">Get urls</button>
{% endblock content %}
