{% extends "base" %}
{% block page %}landing{% endblock page %}
{% block title %}Dobrodosli{% endblock title %}

{% block content %}
    <section class="landing-logo">
        <h1 class="text-center">LOGO</h1>
    </section>

    <section class="inner-container centered">
        <shorten-url></shorten-url>
    </section>
{% endblock content %}
