{% extends "base" %}
{% block page %}login{% endblock page %}
{% block title %}Prijava{% endblock title %}

{% block content %}
    <h2 class="text-center">Prijava</h2>

    <section class="inner-container centered">
        <login-form></login-form>

        <a class="btn btn-link mt-1" href="/registracija">Registracija</a>
    </section>
{% endblock content %}
