{% extends "base" %}
{% block page %}moj{% endblock page %}
{% block title %}Dobrodosli{% endblock title %}

{% block content %}
    <div class="container">
        <div class="columns">
            <h3 class="column col-12">Moji skrceni URLji</h3>
            <div class="column col-12 divider"></div>

            <urls-list class="column col-12"></urls-list>
        </div>
    </div>
{% endblock content %}
