{% extends "base" %}
{% block page %}register{% endblock page %}
{% block title %}Registracija{% endblock title %}

{% block content %}
    <h2 class="text-center">Registracija</h2>

    <section class="inner-container centered">
        <register-form></register-form>

        <a class="btn btn-link mt-1" href="/prijava">Prijava</a>
    </section>
{% endblock content %}
