{% extends "base" %}
{% block page %}landing{% endblock page %}
{% block title %}Dobrodosli{% endblock title %}

{% block content %}
    <h1>Hello Skrci.me</h1>

    <button id="me">Me</button>
{% endblock content %}
